@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Oxanium:wght@200..800&display=swap');

body
{
        font-family:"Oxanium";
        color: #1D2A2E;
        background-image: url("img/backgroundimg.jpg");
            background-repeat: no-repeat;
                background-attachment: fixed;
                    background-size: 100%;
}

h2
{
    color: #325257;
    background-color: #88B5B4;
    width: 50%;
}

div.cbc
    { 
        width: 700px;
    }

        table, th, td
            {
                background-color: #f9f9f9;
                border: solid #4e6465;
                border-width: 2px; 
                width: 100%;
            }

.prtI-id
        {
            display: flex; 
            gap: 50px;  
        }

.prtII-id
{
        display: flex; 
        gap: 50px;
}

.prtIII-id
{
        display: flex; 
        gap: 50px;
}

div.wki
{ 
     width: 700px;
}

div.photo
{ 
     width: 700px;
      display: flex; 
        gap: 50px;
}

a:link
{
    color: #12adc5;
}